{{#extends 'base'}}

{{#block 'content'}}
<h1>Deleteing {{pet.name}}</h1>
<form method="POST">
    <div class="alert alert-danger">
        Are you sure you want to delete {{pet.name}}?
    </div>
    <input type="submit" class="btn btn-danger" value="Yes">
    <a href="/" class="btn btn-success">No</a>
</form>
{{/block}}

{{/extends}}